<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Авторизация">
        <setting id="User" label="Логин (e-mail)" type="text" default="" visible="true"/>
        <setting id="Password" label="Пароль" type="text" option="hidden" visible="true" enable="true" default="" />
    </category>
    <category label="Просмотр">
        <setting id="Mode" type="enum" label="Режим" default="0" values="Torrent|Online" visible="false"/>
        <setting id="Engine" type="enum" label="Плеер" default="0" values="T2Http|YATP|TAM" visible="eq(-1,0)"/>
        <setting id="HideOnline" type="bool" label="Скрыть on-line" default="false" visible="true"/>
    </category>
    <category label="Разное">
        <setting id="SortSeries" label= "Сортировать серии по названиям" type="bool" default="true" visible="true"/>
        <setting id="ShowDescriptions" label= "Показывать описания" type="bool" default="true" visible="true"/>
        <setting id="ShowAgeRating" label= "Показывать возрастной рейтинг" type="bool" default="false" visible="eq(-1,true)"/>
        <setting type="sep"/>
        <setting label="Очистить кэш картинок" type="action" action="RunPlugin(plugin://$ID?mode=cleancache)" option="close"/>
    </category>
</settings>
