<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Авторизация">
    <setting id="User" label="Логин" type="text" default="" visible="true"/>
    <setting id="Password" label="Пароль" type="text" option="hidden" visible="true" enable="true" default="" />
  </category>
  <category label="Разное">
    <setting label="Очистить кэш картинок" type="action" action="RunPlugin(plugin://plugin.video.evld.shiza-project.com?mode=cleancache)" option="close"/>
  </category>
</settings>
